<h1 class="tui-text_h4">IT Bookstore</h1>
<nav>
  <a routerLink="/" tuiButton type="button" size="s" icon="tuiIconHome">
    Home
  </a>
  <a
    routerLink="/store"
    tuiButton
    type="button"
    size="s"
    icon="tuiIconShoppingBag">
    Store
  </a>
  <a
    routerLink="/cart"
    tuiButton
    type="button"
    size="s"
    icon="tuiIconShoppingCart">
    Cart: count - {{ cart.cartAmount }}
  </a>
  <a
    *ngIf="!auth.isLogin"
    routerLink="/login"
    tuiButton
    type="button"
    size="s"
    icon="tuiIconLogIn">
    Login
  </a>
  <a
    *ngIf="auth.isLogin"
    (click)="logout()"
    tuiButton
    type="button"
    size="s"
    icon="tuiIconLogOut">
    Logout
  </a>
</nav>
