:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 110px);

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    img {
      max-height: 250px;
    }
  }

  .custom {
    display: flex;
    color: var(--tui-base-01);
    background: linear-gradient(45deg, #c86dd7 0%, #3023ae 100%);
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }

  .price {
    display: flex;
    width: 60%;
  }
}
